<div class="ap-pagination">
  <a class="ap-pagination__button ap-pagination__first-page"
     *ngIf="isFirstPageVisible"
     (click)="changeCurrentPage($event, firstPage)"
  >{{ firstPageText }}</a>

  <span class="app-pagination__separator"
        *ngIf="isFirstPageVisible && firstAndLastPageType === 'number'"
  >...</span>

  <a class="ap-pagination__button ap-pagination__prev-page"
     *ngIf="isPrevPageVisible"
     (click)="changeCurrentPage($event, prevPage)"
  >{{ prevPageText }}</a>

  <a class="ap-pagination__button ap-pagination__button--number"
     *ngFor="let page of pages"
     [ngClass]="{ 'ap-pagination__button--active': page === currentPage }"
     (click)="changeCurrentPage($event, page)"
  >{{ page }}</a>

  <a class="ap-pagination__button ap-pagination__next-page"
     *ngIf="isNextPageVisible"
     (click)="changeCurrentPage($event, nextPage)"
  >{{ nextPageText }}</a>

  <span class="app-pagination__separator"
        *ngIf="isLastPageVisible && firstAndLastPageType === 'number'"
  >...</span>

  <a class="ap-pagination__button ap-pagination__last-page"
     *ngIf="isLastPageVisible"
     (click)="changeCurrentPage($event, lastPage)"
  >{{ lastPageText }}</a>
</div>
